{% extends 'layout.html' %}

{% block body %}
<div class="row">
 <div class="col-sm-4"></div>
  <div class="col-sm-4">
  <p>
    <div style="text-align: center;">
<h1 class="h3 mb-3 font-weight-normal text-center"> <img class="img-fluid" src="{{ url_for('static', filename='images/monero_symbol_small.png') }}" alt="" width="72" height="72">Register</h1></div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=64) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=64) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm(size=64) }}<br>
            {% for error in form.confirm.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
	</p></div></div>
  <div class="col-sm-4">  </div>
 
</div>
<p> </p>
	
{% endblock %}


